#Ellipse1{
    width: 75px;
    height: 75px;
    position: relative;
    left: -5.6%;
    right: 85.6%;
    top: 4.93%;
    bottom: 85.84%;
    border-radius: 50%;
    background: linear-gradient(147.47deg, #FEB665 24.48%, #F66EB4 118.65%);
}

#Ellipse2{
    width: 72px;
    height: 72px;
    position: relative;
    left: 71.2%;
    right: 9.41%;
    top: 20.42%;
    bottom: 70.62%;
    border-radius: 50%;
    background: linear-gradient(228.76deg, #2DEEF9 -34.42%, #E084F1 127.18%);
}

#Ellipse3{
    position: relative;
    width: 212px;
    height: 212px;
    left: 182px;
    top: 17px;
    border-radius: 50%;
    background: linear-gradient(73.12deg, #25CED1 -19.51%, #34E6E9 58.02%, #6AFCFF 138%);
}

#Ellipse4{
    width: 272px;
    height: 272px;
    position: relative;
    left: -22.17%;
    right: 49.89%;
    top: 91.31%;
    bottom: -24.69%;
    border-radius: 50%;
    background: linear-gradient(228.76deg, rgba(45, 238, 249, 0.15) -34.42%, rgba(224, 132, 241, 0.15) 127.18%);
    transform: rotate(-15.82deg);
}

#title{
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 44px;
    text-align: center;
    margin-top: 31px;
    color: #384F7D;
}

#text{
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 22px;
    text-align: center;
    color: rgba(56, 79, 125, 0.8);
}

#button_first{
    width: 48px;
    height: 48px;
    display: block;
    margin: 131px auto 0;
    border: 0;
    border-radius: 50%;
    background: linear-gradient(125.58deg, #BAFB67 -5.37%, #00D23A 196.64%);
}

#loader{
    width: 100%;
    height: 100%;
    background: linear-gradient(201.49deg, #FEB665 16.19%, #F66EB4 75.38%);
}